*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.box {
  position: absolute;
  right: 23%;
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 0px;
  background: #ffff;
  border-radius: 30px;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 2000;
  /*box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);*/
}

.box:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.search-icon-container-submit {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.box:hover input {
  width: 370px;
}

.box input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: width 0.8s;
  background: transparent;
}

.box a .bx {
  color: #1daf;
  font-size: 18px;
}

.logo .shopeasily-logo {
  max-width: 50px;
  height: 50px;
}

.logo .shopeasily-brand {
  position: relative;
  width: 200px;
  height: 20px;
  top: -13px;
}

.navmenu {
  display: flex;
  position: relative;
}

.navmenu a {
  color: #2c2c2c;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 500;
  transition: all 0.42s ease;
  cursor: pointer;
}

.navmenu a:hover {
  color: #0085bd;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.nav-icon i {
  margin-right: 20px;
  color: #2c2c2c;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.42s ease;
  cursor: pointer;
}

.nav-icon i:hover {
  transform: scale(1.1);
  color: #0085bd;
}

.cartNavigation:hover i {
  color: #85bb65;
}

.logoutNavigation:hover i {
  color: #ff0000;
}

.searchBarExpandButton:hover {
  color: #a020f0 !important;
}

.nav-icon a {
  color: #2c2c2c;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.42s ease;
  cursor: pointer;
}

.header .navmenu .active-tab-indicator-line {
  position: absolute;
  height: 3px;
  width: 23%;
  background: #0085bd;
  left: 6%;
  bottom: -2px;
  transition: all 0.3s ease;
  opacity: 0;
}

.header .navmenu li:nth-child(1):hover ~ .active-tab-indicator-line {
  left: 6%;
  opacity: 1;
}

.header .navmenu li:nth-child(2):hover ~ .active-tab-indicator-line {
  left: 40%;
  opacity: 1;
}

.header .navmenu li:nth-child(3):hover ~ .active-tab-indicator-line {
  left: 73%;
  opacity: 1;
}

p.loginNavigation {
  margin-left: 20px;
  margin-right: 20px;
}

a.loginNavigation:hover {
  color: #008000;
}

a.registerNavigation:hover {
  color: #0085bd;
}

section {
  padding: 5% 5%;
}

.contact {
  background-color: #f3f4f6;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 3rem;
}

.first-info img {
  width: 200px;
  height: auto;
  margin: -80px 0px;
  position: relative;
  left: -22px;
}

.contact-info h4 {
  color: #212529;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-info p {
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  /*text-transform: capitalize;*/
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.42s;
}

.contact-info p:hover {
  color: #0085bd;
}

.first-info p {
  font-size: 13px;
}

.social-icon i {
  color: #565656;
  margin-right: 10px;
  font-size: 20px;
  transition: all 0.42s;
}

.social-icon i:hover {
  transform: scale(1.3);
}

.end-text {
  background-color: #f3f4f6;
  text-align: center;
  padding: 20px;
}

.end-text p {
  color: #111;
  text-transform: capitalize;
}

p.registerNavigation {
  margin-left: 20px;
  margin-right: -80px;
}

section.product {
    padding-top: 10%;
}